

/* ---------------------------------------------------------
 * Reset defaults
 * ---------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
:focus {/* remember to define focus styles! */
	outline:0;
}
ol, ul {
	list-style:none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse:collapse;
	border-spacing:0;
}
caption, th, td {
	vertical-align:top;
	text-align:left;
}
a img {
	border:0;
}
a,
a:focus,
a:active,
a:hover {
	text-decoration:none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}


/* default font */

html, body, table, th, td, input, textarea, select, button, h1, h2, h3, h4, h5, h6 {
	color:#6a6764;
	font:19px 'KievitWebPro', Arial, sans-serif;
/*	font-weight:300;*/
}




/* ---------------------------------------------------------
 * Layout Helpers
 * ---------------------------------------------------------- */

/* clearfix overflow box */

.form-stretch,
.form-stretchmax,
.overflow { 
	display:block;
	position:relative;
	overflow:hidden;
	_overflow:visible;
	_height:1px;
}

.alert,
.form-group,
.colpane,
.btnpane,
.clearfix {
	*zoom: 1;
}
.alert:before,
.alert:after,
.form-group:before,
.form-group:after,
.colpane:before,
.colpane:after,
.btnpane:before,
.btnpane:after,
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.alert:after,
.form-group:after,
.colpane:after,
.btnpane:after,
.clearfix:after {
	clear: both;
}


/* wrappers */

.wrapper {
	max-width:1130px;
	padding:0 60px;
	margin:0 auto;
}

.category-blog .wrapper, .single-post .wrapper {
	padding-top: 60px;
	padding-bottom: 0 !important;
}

[class*="col"] {
	display: block;
	width: 100%;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 1px;
}

.col {}

.col15 { width: 20%; }
.col25 { width: 40%; }
.col35 { width: 60%; }
.col45 { width: 80%; }

.col14 { width: 25%; }
.col34 { width: 75%; }

.col13 { width: 33.33333%; }
.col23 { width: 66.66666%; }

.col12 { width: 50%; }

.col10p { width: 10%; }
.col30p { width: 30%; }
.col70p { width: 70%; }
.col90p { width: 90%; }



.colpane {} /* + .clearfix */

.colpane [class*="col"] {
	float: left;
}



/* containers */

.container10 {
	padding:10px;
}
.container15 {
	padding:15px;
}
.container20 {
	padding:20px;
}
.container25 {
	padding:25px;
}
.container30 {
	padding:30px;
}



/* helpers */

.left { float:left !important; }
.right { float:right !important; }

.center { text-align:center; margin-left:auto; margin-right:auto; }
.center * { float:none !important; }

.clear {
	clear:both;
	_overflow:hidden;
	height:0;
	line-height:0;
	font-size:0px;
}
.hide {
/*	visibility:hidden;*/
	display:none/* !important*/;
}
.nowrap {
	white-space:nowrap;
}
.clip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}   

.hand {
	cursor:pointer !important;
}
.bold {
	font-weight:bold;
}


/* ul > li hack for blocks justify alignment */

.justify-block-list {
	margin:0;
	padding:0;
	list-style-type:none;

	text-align: justify;
	text-justify: newspaper;
	zoom:1;

	text-align-last: justify;
}
.justify-block-list:after {
	width: 100%; 
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.justify-block-list .justify-block-item {
	margin:0;
	padding:0;

	min-height:1px;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	_height:1px;
	text-align:left !important;
}



/* statuses */

.status-active {}
.status-show {}
.status-hide {}
.status-hover {}
.status-disable {}
.status-new {}
.status-expand {}
.status-checked {}
.status-focus {}




/* ---------------------------------------------------------
 * B U T T O N S
 * ---------------------------------------------------------- */

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;

	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding:0 30px;
	font-size: 19px;
	margin: 0;
	text-align: center;
	text-decoration:none;
	cursor: pointer;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.50;
	filter: alpha(opacity=50);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn + .btn { margin-left:25px; }
 


/* ---- T Y P E ---- */

/* default */

.btn:hover,
.btn:focus {
	color: #fff;
	background-color: #6a6764;
}
.btn,
.btn.disabled:hover,
.btn[disabled]:hover,
.content .btn {
	height: 72px;
	line-height: 70px;

	color: #6a6764;
	background-color: #fff;
	border:1px solid #0a253e;
}
input.btn,
button.btn {
	height:72px !important;
}

/* primary */

.btn-primary:hover,
.btn-primary:focus,
.content .btn-primary:hover {
	color: #fff;
	background-color: #0a253e;
}
.btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.content .btn-primary {
	position:relative;
	-webkit-box-shadow: inset 0 0 0 1px rgba(106, 103, 100, .6) !important;
	-moz-box-shadow: inset 0 0 0 1px rgba(106, 103, 100, .6) !important;
	box-shadow: inset 0 0 0 1px rgba(106, 103, 100, .6) !important;
	color: #fff;
	background-color: #0a253e;
}
input.btn-primary,
button.btn-primary {
	height:72px !important;
}

.btn-primary:after {
	content:"";
	display:block;
	border:1px solid #888;

	position:absolute;
	top:2px;
	right:2px;
	bottom:2px;
	left:2px;

	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-o-transition:all 0.1s;
	transition:all 0.1s;
}
.btn-primary:hover:after {
	top:7px;
	right:7px;
	bottom:7px;
	left:7px;
	border-color: #6a6a6a;
}

.join .btn-primary:hover:after, .join .btn-primary:after {
	border-color: #888;
}


/* ---------------------------------------------------------
 * F O R M S
 * ---------------------------------------------------------- */

select,
textarea,
input[type="text"],
input[type="password"] {
	display: inline-block;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding:0 25px;
	font-size:19px;
	height:72px;

	color: #4c4b49;
	background-color: #fff;

	border: 1px solid #6a6764;
}
textarea {
	padding:8px 25px;
	height:auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:#6a6764;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#6a6764;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#6a6764;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#6a6764;
}


input[type="radio"],
input[type="checkbox"] {
	margin:0;
	margin-right:5px; * margin-right:2px;
	position:relative; top:2px;
	border:none !important;
	background:none !important;
}

input[type="button"],
input[type="submit"],
button {
	cursor:pointer !important;
}


/* statuses */

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	border-color:#4c4b49;
}
/*
select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled {
	border-color:#c7cccd;
	background-color:#f8f8f8;
	color:#999;
}

select.error,
textarea.error,
input[type="text"].error,
input[type="password"].error {
	border-color:#e9322d;
	background-color:#fff5f5;
	color:#c8201d;
}
*/



/* ---- F O R M  L A Y O U T ---- */

/* labels */

.form-label {
	display:block;
	padding-bottom:10px;
	padding-top: 10px;
}

.form-text {
	line-height:72px;
}


/* helpers */

.form-stretch { /* + .overflow */
}
.form-stretch input[type="text"],
.form-stretch input[type="password"],
.form-stretch textarea,
.form-stretch select {
	float:none !important;
	width:100%;
}

.form-stretchmax { /* + .overflow */
}
.form-stretchmax input[type="text"],
.form-stretchmax input[type="password"],
.form-stretchmax textarea,
.form-stretchmax select {
	float:none !important;
	max-width:100%;
}


/* groups/lines of controls */

.form-group {} /* + .clearfix */

.form-group + .form-group {
	margin-top:30px;
}
/*
.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea,
.form-group select,
.form-group .form-label {
	float:left;
}

.form-group input + .btn,
.form-group select + .btn {
	margin-left:15px;
}
.form-group input + input,
.form-group select + input,
.form-group input + select,
.form-group select + select {
	margin-left:8px;
}

.form-group .form-label {
	padding-right:10px;
}
.form-group input + .form-label,
.form-group select + .form-label {
	width:auto;
	padding-left:10px;
}


.form-group .form-label,
.form-group .form-text {
	line-height:16px;
	padding-top:6px;
}
*/






/* ---------------------------------------------------------
 * Loader
 * ---------------------------------------------------------- */

.blockOverlay {
	background:#000 url('images/loader.gif' ) no-repeat 50% 50%;
}



/* ---------------------------------------------------------
 * Alerts / Messages
 * ---------------------------------------------------------- */

.alert { /* + clearfix*/
	clear:both;
	display:block;
	position:relative;
	min-height:20px;
	padding:13px 20px 13px 74px;
	margin:10px 0;
	font-size:13px;
	line-height:18px;
}
ul.alert,
.alert ul {
	list-style:disc;
	margin:0 0 0 20px;
}

.alert { background-color:#e9f7f7; }
.alert-warning { background-color:#fffdd5; }
.alert-error { background-color:#f7e9e9; }
.alert-ok { background-color:#ebf7e9; }



/* ---------------------------------------------------------
 * M O D A L
 * ---------------------------------------------------------- */

.ui-widget-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1040;

	background-color: #000000;
	opacity: 0.8;
	filter: alpha(opacity=80);
}


.ui-dialog {
	position: absolute;
/*	position: fixed;*/
	top: -1000px;
	left: 50%;
	z-index: 1050;
	width: 420px;
/*	margin-left: -210px;*/
	background-color: #ffffff;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

	outline: none;
	height: auto;
}

.ui-dialog-titlebar {
	overflow:visible;
}

.ui-dialog-title {}

.ui-dialog-titlebar-close {
	display:block;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	overflow:hidden;
	background:none;

	position:absolute;
	top:0px;
	right:0px;
	z-index:2;

	color:#fff;
	background-color:#666;
	width:40px;
	height:40px;
	cursor:pointer;
}
.ui-dialog-titlebar-close:before {
	display:block;
	font-family: FontAwesome;
	font-size:22px;
	height:22px;
	margin:-2px 0 0 2px;

	content: "\f00d";
}
.ui-dialog-titlebar-close span { display:none; }

.ui-dialog-content {
	position: relative;
	padding:20px 30px;
}



/* ---------------------------------------------------------
 * Tooltip
 * ---------------------------------------------------------- */

.ui-tooltip {
	padding:1px;
	min-width:200px;
	min-height:100px;
	background:#fff;

	border-top:3px solid #df1e30;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;

	-moz-box-shadow:0 0 6px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 6px rgba(0,0,0,0.5);
	box-shadow:0 0 6px rgba(0,0,0,0.5);
}
/*
.ui-tooltip .ui-tooltip-content {
	min-height:100px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
*/
.ui-tooltip .arrow {
	width:15px;
	height:56px;
	overflow: hidden;
	position: absolute;
	left:-15px;
	top:0px;
}
.ui-tooltip .arrow.arrow-bottom { top:auto; bottom:1px; }
.ui-tooltip .arrow:after {
	background:#fff;
	content: "";
	position: absolute;
	left: 10px;
	top: 15px;
	width: 25px;
	height: 25px;

	-moz-box-shadow:0 0 6px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 6px rgba(0,0,0,0.5);
	box-shadow:0 0 6px rgba(0,0,0,0.5);

	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


