@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rk547v');
	src:url('fonts/icomoon.eot?#iefix-rk547v') format('embedded-opentype'),
	url('fonts/icomoon.woff?-rk547v') format('woff'),
	url('fonts/icomoon.ttf?-rk547v') format('truetype'),
	url('fonts/icomoon.svg?-rk547v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-svg10:before {
	content: "\e60e";
}

.icon-svg11:before {
	content: "\e60f";
}

.icon-svg12:before {
	content: "\e610";
}

.icon-svg13:before {
	content: "\e611";
}

.icon-svg14:before {
	content: "\e612";
}

.icon-fb:before {
	content: "\e609";
}

.icon-ig:before {
	content: "\e60a";
}

.icon-in:before {
	content: "\e60b";
}

.icon-yt:before {
	content: "\e60c";
}

.icon-tw:before {
	content: "\e60d";
}

.icon-svg:before {
	content: "\e600";
}

.icon-svg2:before {
	content: "\e601";
}

.icon-svg3:before {
	content: "\e602";
}

.icon-svg4:before {
	content: "\e603";
}

.icon-svg5:before {
	content: "\e604";
}

.icon-svg6:before {
	content: "\e605";
}

.icon-svg7:before {
	content: "\e606";
}

.icon-svg8:before {
	content: "\e607";
}

.icon-svg9:before {
	content: "\e608";
}

