@font-face {
    font-family: 'KievitWeb-Black';
    src: url('fonts/KievitWeb-Black.woff') format('woff');
}

@font-face {
    font-family: 'KievitWeb-BlackIta';
    src: url('fonts/KievitWeb-BlackIta.woff') format('woff');
}

@font-face {
    font-family: 'KievitWeb-Book';
    src: url('fonts/KievitWeb-Book.woff') format('woff');
}

@font-face {
    font-family: 'KievitWeb-BookIta';
    src: url('fonts/KievitWeb-BookIta.woff') format('woff');
}

@font-face {
    font-family: 'KievitWeb-Xbold';
    src: url('fonts/KievitWeb-Xbold.woff') format('woff');
}

@font-face {
    font-family: 'KievitWeb-XboldIta';
    src: url('fonts/KievitWeb-XboldIta.woff') format('woff');
}

@font-face {
    font-family: 'KievitWebPro';
    src: url('fonts/KievitWebPro.woff') format('woff');
}

@font-face {
    font-family: 'KievitWebPro-Ita';
    src: url('fonts/KievitWebPro-Ita.woff') format('woff');
}

@font-face {
    font-family: 'KievitWebPro-Bold';
    src: url('fonts/KievitWebPro-Bold.woff') format('woff');
}